footer {
    background:         $pri-col; 
    position:           fixed;
    display:            flex;
    gap:                1vw;
    bottom:             0;
    width:              100%;
    height:             6vh;
    padding:            0 2vw;
    align-items:        center;
    justify-content:    center;
    z-index:            10;
    
    .menu {
        display: flex;
        gap: 6px;
        align-items: center;
        justify-content: center;
    
        a {
            font-size: 3vh;
        }
    }
    
    .divider {
        font-size: 2vh;
        font-weight: 100;
    }
    
    .info {
        display: flex;
        align-items: center;
        justify-content: center;

    }
}    

