{% if poster %}
<video width={{w}} height={{h}} poster={{poster}} controls loop controlsList="nodownload" oncontextmenu="return false;">
    <source src={{src}} type="video/mp4"></video>
{% elif autoplay %}
<video width={{w}} height={{h}} controls autoplay loop controlsList="nodownload" oncontextmenu="return false;">
    <source src={{src}} type="video/mp4"></video>
{% else %}
<video width={{w}} height={{h}} controls loop controlsList="nodownload" oncontextmenu="return false;">
    <source src={{src}} type="video/mp4"></video>
{% endif %}
